<launch>
    <!-- output="screen" will output to cmd window. to open in new window, launch-prefix="gnome-terminal" -->
    <node name="RosAria" pkg="rosaria" type="RosAria"/>
    <node name="drive_pub" pkg="qbot" type="drive_pub.py"/>
    <node name="drive_controller" pkg="qbot" type="qbot_drive.py"/>
</launch>